@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  background-color: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar{
  display: none;
}
